<p id="notice"><%= notice %></p>

<h1>Listing views</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>IP</th>
    </tr>
  </thead>

  <tbody>
    <% #if @views %>
      <% @views.each do |view| %>
        <tr>
          <td><%= view.time_viewed %></td>
          <td><%= view.ip %></td>
      <% end %>
    <% #end %>
  </tbody>
</table>
